~*
*.launch
03.src/.settings
03.src/app/.settings
03.src/stldr/.settings
03.src/iap/.settings
02.tools/nmea2000/simulator/5.3.11/NMEA2000.mcr.lock
03.src/iap/Debug
03.src/iap/fi-din-iap Debug.launch
